<!DOCTYPE html>
<html>
  <head>
    <%- include('includes'); %>
    <title><%= title %></title>
    <link rel='stylesheet' href='../stylesheets/style.css' />
  </head>
  <body>
    <%- include('header', {active: "Home"}); %>

    <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
  </body>
</html>
